<p id="notice"><%= notice %></p>
<p>
  <strong><%= @my_asset.name %></strong>
</p>

<%= render partial: "comments/comments", locals: {commentable: @my_asset} %>
<%= render partial: "comments/form_nested", locals: {commentable: @my_asset, project: @project} %>

<%= link_to 'Edit', edit_project_my_asset_path(@project, @my_asset) %> |
<%= link_to 'Back', @project %>
